* {
    box-sizing: border-box;
}

body {
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/gravel.png);
}

header {
    border-bottom: 2px solid gray;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
  }
  
  .container{
    
    width: 960px;
    height: 80px;
    margin: 0 auto;
   
  } 
  .name {
      float: left;
      text-align: center;
      color: white;
      background-color: turquoise;
      padding: 20px; 
      font-size: 32px;  
  }

 

#topnav {
    float: right;
    height: 30px;
    margin-bottom: 2em;
    
}

ul {
    text-decoration-style: none;

}

li {
    display: inline-block;
    padding: 10px;
       
}

li a {
    color: gray;
    text-decoration: none;
}


#insideaboutme {
    width: 900px;
    height: 400px;
    padding: 20px;
    background: white;
    color: turquoise;
    margin: 130px auto;
    
}



hr {
    border-width: 1px;
    border-color: gray;
}

/* .photos {
    float: left;
    width: 30px;
    height: 30px;
    padding: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
    z-index: -3; 

} */
.photos {
    float: left;
    margin: 0px 70px 0px 70px;
    z-index: -3;
    padding: 20px
}

.yachtrock {
    font-size: 16px;
    padding: 2px;
}


.bars {
    position: absolute;
    background-color: turquoise;
    margin-top: 100px;
    width: 100px;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 1px;
} 




.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    float: left;
    width: 100px;
    height: 150px;
}

.picture {
    height: 50%;
    width: 20%;
    margin-right: 20px;
    float: left;
    padding: 0;
}

p {
    color: gray;
}


.titles {
    font-size: 18px;
    color: turquoise;
    margin-top: -5;
}

.titles input {
    width: 100%;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    border-width: 1px;
}

.messagebox textarea {
    width: 100%;
    border-color: gray;
}

.messagebox {
    margin-top: -15px;
    
    
}

.messagebox input {
    background-color: turquoise;
    margin-top: 5px;
    width: 70px;
    height: 25px;
    color: white;
    font-size: 16px;
}


footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 12%;
    background-color: darkgrey;
    margin: auto;
    border-top: 5px solid turquoise;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 980px) {

    .container {
        width: 768px;
    }

    #insideaboutme {
        width: 768px;
        padding: 10px;
        /* height: 650px; */
    }

    p {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    
    body {
        font-size: 21px;
    }
    
    .container {
        width: 80%;
    }

    #insideaboutme {
        width: 80%;
        margin: 100px auto;
    }


    li {
        padding: 10px 7px 0px 7px;
    }

    .name {
        padding: 22.4px;
        font-size: 28px;
    }

    .messagebox {
        margin-top: -10px;
    }

    .textarea.row {
        row: 12;
    }
}



@media screen and (max-width: 640px) {
    
    body {
        font-size: 19px;
    }
    
    header {
        position: static;
        height: 130px;
    }

    .name {
        width: 100%;
        float: none;
    }
    .container {
        height: auto;
    }

    #insideaboutme {
        margin: 59px auto;
        width: 50%;
        height: auto;
        margin-bottom: 100px;
    }
    #topnav{
        float: none;
        text-align: center;
        margin: 0px 53px 0px 0px;
    }
    .picture {
        width: 50%;
        margin: 0px 5px 0px 65px;
        float: none;
        padding: 0;
    }
    
    

}
    
